.header-container {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
  
  backdrop-filter: blur(100px); 
  -webkit-backdrop-filter: blur(100px); 

  background: var(--background);
  
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}

.header-logo {
    margin: auto;
    padding: auto;
}

.header-nav-item:hover {
    color: var(--rojo-kustom); /* Se pinta de rojo al pasar el mouse */
    transform: translateY(-2px); /* Da un saltito sutil hacia arriba */
}

.header-nav-container {
    display: flex;
    margin: auto;
}

.header-nav-item {
    font-size: 1rem;
    font-weight: 600; /* Un poco más gruesas para que tengan presencia */
    text-transform: uppercase; /* Todo en mayúsculas */
    letter-spacing: 0.1rem; /* Separa un poco las letras, da un toque muy premium */
    color: var(--color-text);
    text-decoration: none; /* Quita el subrayado por defecto si lo tiene */
    transition: all 0.3s ease; /* Prepara el terreno para un hover suave */
    padding: 0.5rem 1rem;
}

@media (max-width: 768px) {
    .header-nav-item {
        font-size: 0.7rem;
    }
}