.about-section {
    padding: 100px 0;
    background-color: var(--background);
    display: flex;
    justify-content: center; 
}

.about-section .container {
    max-width: 1100px; 
    width: 80%;       
    margin: 0 auto;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: row;
    gap: 60px; 
    align-items: center;
}

.image-wrapper, .image-wrapper-small {
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-radius: 4px;
    width: 400px;
    height: 700px;
}

.about-image-main .image-wrapper {
    position: relative;
/* Ocupa todo el ancho de su columna */
    border-radius: 8px;
    overflow: hidden;
}

.about-content-right {
    flex: 1;    
    max-width: 40%;  /* Fuerza a que ocupe la otra mitad */
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding: auto;
    margin: auto;
    align-items: center;
}

.about-text h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 15px 0;
    color: var(--rojo-kustom); 
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #ccc;
    margin-bottom: 20px;
}

.about-image-secondary {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

.image-wrapper-small {
    width: 60%;
    height: 250px;
}

.experience-badge {
    background-color: var(--rojo-kustom);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.experience-badge strong {
    font-size: 2rem;
    display: block;
}

.experience-badge span {
    font-size: 0.7rem;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 992px) {
    .about-section {
        padding: 60px 0; 
    }

    .about-grid {
        grid-template-columns: 1fr; 
        gap: 20px;
        text-align: center;
        padding: 0 15px;
        display: flex; 
        flex-direction: column;
        align-items: center;
    }
    .about-content-right {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
    }

    .about-image-main {
        width: 100%;
        order: 2; 
        justify-content: center;
        align-items: center;
    }

    .about-image-main .image-wrapper {
        height: 500px; 
        width: 70%;
        margin: 0 auto;
    }

    .about-text h2 {
        font-size: 1.8rem; 
        line-height: 1.2;
    }

    .about-text p {
        font-size: 0.95rem;
        padding: 0 10px;
        text-align: center; 
    }

    .about-image-secondary {
        display: none; 
    }
}